body { 
    background: #ffbb8e;
}
#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#formData {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
    height: 14em;
    width: 13em;
    padding: 10px;
    background: #ff6600;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px;
    margin-bottom: 10px;
}
.createUForm {
    border-radius: 10px;
}